<%- include("template/header") %>
<%- include("template/navbar") %>
<%- include("template/aside") %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <%- include('template/breadcrumb', {module: 'Dashboard'}) %>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-md-12">            
           
            <div class="card">
                <div class="card-header">
                  Welcome
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt vel, fugit consectetur voluptatum autem sapiente nesciunt sint similique repudiandae animi nemo aperiam, pariatur nostrum exercitationem eos eligendi excepturi assumenda ea explicabo, officia eveniet delectus tenetur velit suscipit! At sequi doloribus aut saepe dolore modi eius est id placeat eligendi asperiores maiores qui provident harum, ex officia? Dolore quasi, et nobis autem hic aut non recusandae accusamus consequuntur alias veritatis, earum dignissimos eveniet, laborum iste ut adipisci quis eos illo quibusdam eius? Quos eaque quam quia deleniti esse odio excepturi reiciendis, totam inventore eveniet earum qui, magni tempora, est ipsum rem optio cum aliquam nulla. Praesentium tempora, quae nobis sapiente sint tenetur numquam animi possimus, sunt, iste eligendi debitis reprehenderit itaque minus officiis minima! Necessitatibus commodi deserunt aut aliquid accusantium pariatur iste dolorum odio maxime, placeat, ullam doloremque? Rerum aspernatur id cum repudiandae doloremque illo numquam. Odit labore ad temporibus quae voluptates totam hic ipsam dolores rem repellendus reprehenderit praesentium asperiores nisi, commodi debitis? Totam quis, illo iusto quae voluptas, voluptatum similique quod explicabo dignissimos alias, esse nostrum ad optio eveniet dolore est! Cupiditate, molestias eos vero et eius officiis fugit fuga ipsa amet veritatis, cumque voluptate! Facilis praesentium quaerat fuga.</p>
                  <a href="/" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <%- include("template/footer") %>